<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Axantum.AutoSolution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Axantum.AutoSolution.Properties.Settings>
            <setting name="DefaultRootDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultIgnoreDirectories" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultRootSolutionNameBase" serializeAs="String">
                <value/>
            </setting>
        </Axantum.AutoSolution.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
